<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
    	<add key="worldImageTopLeftCornerX" value=""/>
		<add key="worldImageTopLeftCornerY" value=""/>
		<add key="worldImageWidth" value=""/>
		<add key="worldImageHeight" value=""/>
		<add key="leftArrowPosX" value=""/>
		<add key="leftArrowPosY" value=""/>
		<add key="upArrowPosX" value=""/>
		<add key="upArrowPosY" value=""/>
		<add key="downArrowPosX" value=""/>
		<add key="downArrowPosY" value=""/>
		<add key="rightArrowPosX" value=""/>
		<add key="rightArrowPosY" value=""/>	
  	</appSettings>
</configuration>